
<p>Find me in app/views/shared/_error_messages.html.erb</p>
<%if object && object.errors.size > 0 %>
<div>
<h3><%= pluralize(object.errors.size,'error') %> in record <h3>
<p> in following fields</p>
<ul>
<%object.errors.full_messeges.each do |msg| %>
<li><%= msg%></li>
<%end%>
</ul>
</div>
<%end%>
